<scx-header></scx-header>
<scx-content>
  <app-sidebar></app-sidebar>
  <!-- Main content -->
  <main class="main">
    <!-- Breadcrumb -->
    <scx-breadcrumbs></scx-breadcrumbs>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div><!-- /.conainer-fluid -->
  </main>
  <scx-aside></scx-aside>
</scx-content>
<csx-footer>
  <span><a href="https://spotacard.com">Spotacard</a> &copy; 2020</span>
  <span class="ml-auto">Powered by <a href="https://lowlandtech.com">LowLandTech</a></span>
</csx-footer>
